In [ ]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.impute import SimpleImputer

In [ ]:
data = {

    'Name': ['Alice','Bob','Charlie','David',None],

    'Age': [25,30,None,22,28],

    'Gender': ['F','M','M','M','F'],

    'Salary': [50000,60000,55000,None,52000]

}

In [ ]:
df = pd.DataFrame(data)

print("Original Data:")

print(df)

Original Data:
      Name   Age Gender   Salary
0    Alice  25.0      F  50000.0
1      Bob  30.0      M  60000.0
2  Charlie   NaN      M  55000.0
3    David  22.0      M      NaN
4     None  28.0      F  52000.0

In [ ]:
imputer = SimpleImputer(strategy='mean')

df['Age'] = imputer.fit_transform(df[['Age']])

df['Salary'] = imputer.fit_transform(df[['Salary']])

df['Name'].fillna('Unknown',inplace=True)

/tmp/ipython-input-2319466360.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Name'].fillna('Unknown',inplace=True)

In [ ]:
label_encoder = LabelEncoder()

df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [ ]:
df[['Age','Salary']] = scaler.fit_transform(df[['Age','Salary']])

NameError: name 'scaler' is not defined

In [ ]:
print("Preprocessed Data:")

print(df)

Preprocessed Data:
      Name       Age  Gender    Salary
0    Alice -0.461069       0 -1.261511
1      Bob  1.383208       1  1.706750
2  Charlie  0.000000       1  0.222620
3    David -1.567636       1  0.000000
4  Unknown  0.645497       0 -0.667859